<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbsitter.bbsitter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--
        // KEY GOOGLE necesaria para trabajar con las APIs de Google Maps
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCAq5pFIif49ezgqjq4x6ZEaFMyuGXnCH0" />
            -->

        <activity android:name=".Perfiles.CrearPerfilCanguro"></activity>
        <activity android:name=".Perfiles.CrearPerfilFamilia"></activity>
        <activity android:name=".Login.RegistroUsuarioActivity" />
        <activity android:name=".Login.ElegirquePerfilCrear" />
        <activity android:name=".Login.Login" />
        <activity android:name=".Main.MainActivity" />
        <activity android:name=".Login.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>